@font-face {
    font-family: "Roboto";
    src: url(Roboto-Thin.html);
    font-weight: 200; }
  @font-face {
    font-family: "Roboto";
    src: url(Roboto-Light.html);
    font-weight: 300; }
  @font-face {
    font-family: "Roboto";
    src: url(Roboto-Regular.html);
    font-weight: 400; }
  @font-face {
    font-family: "Roboto";
    src: url(Roboto-Medium.html);
    font-weight: 500; }
  @font-face {
    font-family: "Roboto";
    src: url(Roboto-Bold.html);
    font-weight: 700; }
  /*
  font-family: "Roboto", sans-serif;
  */